body, html {
  height: 100%;
  margin: 0;
}

div.relative-icon {
  position: relative;
  /* top: 90px; */
  bottom: 100px;
}

div.relative-text {
  position: relative;
  /* bottom: 40px; */
  top: 40px;
}

div.relative-text2 {
  position: relative;
  bottom: 45px;
  /* top: 10px; */
}

div.devpo {
  position: relative;
  right: 100px;
  /* top: 10px; */
}

div.linke {
  position: relative;
  /* bottom: 45px; */
  /* top: 10px; */
}

div.githu {
  position: relative;
  left: 100px;
  /* top: 10px; */
}

#links {
  /* padding-top: 8px; */
  padding-bottom: 15px;
  /* height:50px; */
}
#body {
  height: 100%;
  margin: 0;
}
#html {
  height: 100%;
  margin: 0;
}
#icon{
  align-content: center;
  width: 30px;
  height: 30px;
  transition: 0.5s;
  transition-delay: 0.00001s;
}
#icon:hover {
  align-content: center;
  height: 35px;
  width: 35px;
}
#icon2{
  align-content: center;
  width: 30px;
  height: 30px;
  transition: 0.5s;
  transition-delay: 0.00001s;
}
#icon2:hover {
  align-content: center;
  height: 35px;
  width: 35px;
}
#icon3{
  align-content: center;
  width: 30px;
  height: 30px;
  transition: 0.5s;
  transition-delay: 0.00001s;
}
#icon3:hover {
  align-content: center;
  height: 35px;
  width: 35px;
}
.bg {
  /* The image used */
  background-image: url("img/dt.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -1;
}
