body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
p {
  font-size: 16px;
  margin-bottom:0;
  padding: 0;
  margin-top: 0;
}
.margin {margin-bottom: 45px;}
.bg-1 { 
  background-color: #ecf0fc;
  color: #5a5a5a;
}
.bg-2 { 
  background-color: #e2eafc;
  color: #5a5a5a;
}
.bg-3 { 
  background-color: #ccdbfd;
  color: #5a5a5a;
}
.bg-4 { 
  background-color: #b6ccfe;
  color: #5a5a5a;
}
.bg-5 { 
  background-color: #003049;
  color: #edf2fb;
}
.container-fluid {
  padding-top: 2vh;
  padding-bottom: 0;
}
.container {
  padding-left: 25vw;
  padding-top: 7vh;
  padding-right: 25vw;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.modal {
 position: absolute;
 top: 20%;
}
.navbar {
  border: 0;
  background-color: #ecf0fc;
  display: flex;
  justify-content: space-between;
  opacity: 0.9;
  z-index: 9999;
  margin: 0 auto;
  font-size: small;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  background-color: #ffffff00 !important;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}
.logo-image img{
  max-width: 7vw;
  max-height: 7vh;
  margin-top: -6px;
}
#icon{
  max-width: 4vw;
  min-width: 10px;
  max-height: 4vh;
  min-height: 10px;
  transition: 0.3s;
  transition-delay: 0.00001s;
}
#icon:hover {
  opacity: 0.6;
}
#me{
  max-width: 100vw;
  min-width: 30px;
  max-height: 100vh;
  min-height: 60px;
}
#footer {
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
*, ::after, ::before {
  box-sizing: border-box;
}
root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
.thumbnail {
  padding: 15px;
  background-color: #e2eafc;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  height: 100%;
}